@keyframes showApp {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.container{
    padding: 60px 0;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: showApp;
    animation-duration: 2s;
    animation-iteration-count: unset;
}
.home{
    background-color: #0085ff;
    position: fixed;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    padding: 10px;
    border-radius: 50%;
    bottom: 30px;
    cursor: pointer;
    right: 30px;
}
.home:hover{
    opacity: 0.5;
}