.container{
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

@media (max-width: 550px) {
    .container{
        max-height: 200px;
    }
}