.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 300px;
    border-radius: 15px;
    background-color: #1c1c1c;
    border: 1px solid #2e2e2e;
    row-gap: 20px;
    align-items: center;
}
.title{
    color: #0085ff;
}
.submit{
    background-color: #0085ff;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
.submit:hover{
    opacity: 0.5;
}
.input{
    min-width: 100%;
    border-radius: 15px;
    background-color: #2e2e2e;
    padding: 10px 20px;
    color: white;
}
.toggle{
    color: #0085ff;
    cursor: pointer;
    font-size: 12px;
}
.toggle:hover{
    opacity: 0.5;
}
.footer{
    display: flex;
    column-gap: 10px;
}
.message{
    color: white;
    font-size: 12px;
}
.message.hidden{
    display: none;
}